@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
  --yellow: hsl(47, 88%, 63%);
  --grey:hsl(0, 0%, 50%);
  --white:hsl(0, 0%, 100%);
  --black:hsl(0, 0%, 7%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--yellow);
  min-width: 100vh;
  display: grid;  
  place-content: center;
  
}

.learning {
  background-color: var(--yellow);
  font-weight: 800;
  border-radius: 4px;
  padding: 0.3rem;
  margin-top: 1rem;
  max-width: 5rem;
  text-align: center;
}

.container {
  background-color: var(--white);
  max-width: 20rem;
  padding: 1.5rem;
  margin-top: 3.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--black);
  box-shadow: 0.5rem 0.5rem; 
  margin-bottom: 3rem;
}

.container:hover {
  box-shadow: 1rem 1rem;
}

.container img {
  max-width: 100%;
  border-radius: 0.7rem;
}

.data {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.titulo a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--black);
}

.titulo a:hover{
  color: var(--yellow);
}

.conteudo {
  margin-top: 1rem;
  line-height: 1.7rem;
  color: var(--grey);
}

.avatar {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
}

.avatar img {
  width: 2.5rem;
}

.attribution {
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: blue;
}

@media (min-width: 23.4rem){
  body {
    min-width: 23.4rem;
  }
}

/*Mobile: 375px midia query*/